BasedOnStyle: LLVM
IndentWidth: 4
BreakBeforeBraces: Attach
ColumnLimit: 100
DerivePointerAlignment: false
PointerAlignment: Left
QualifierAlignment: Right
IndentAccessModifiers: false
AccessModifierOffset: -4
AlignArrayOfStructures: Right